  body{
      font-family:sans-serif;
      color: #333;
  }

  th{
      font-size: 2rem;
  }

  a{
      color: #44d;
  }
  .button{
      background-color: #A00;
  }
  #navigation{
      background-color: #fff;
      margin: 10px;
      padding-left: 10px;
  }
  #main-content-container{
      padding-left: 10px;
      margin:10px;
  }
  #container{
      max-width: 600px;
      margin-left:auto;
      margin-right:auto;
  }

  /* General */

  body {margin: 0px auto;}
  a {color: #66e;}
  a:hover { color: #FFF; background-color: #66e }
  #wrapper {margin: 0px auto; max-width: 600px;}
  .button {
    padding-top:5px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    border: solid 1px #66e;
    }
  .button:hover {
    cursor: hand;
    background-color: #66e;
    color: #fff;
  }
  input:focus {outline: none;}

  /* Table */

  table {text-align: left; width: 100%}
  th {padding: 10px 0px;}
  td, text {padding: 3px 20px 3px 0px;}
  #tableFilter{
    margin: 12px 0px; 
    border: none; 
    border-bottom: 1px solid #66e;
    background-color: transparent; 
    padding: 0px;    
    height: 28px;
    font-size: 1rem;
  }
  .tHeader {/* table column header style */}
  .noMatches {margin-left: 20px; font-style: italic; visibility: hidden;}
